.other-information {
  margin-top: 2rem;
  grid-row: 3/4;
  grid-column: 2/5;

  @include respond(tab-port) {
    grid-column: 2/3;
  }
}

.calvino {
  font-size: 1.5rem;
  grid-row: 3/4;
  grid-column: 2/5;
  font-size: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}
