.container__colon1 {
  grid-row: 2/3;
  grid-column: 2 / 3;

  @include respond(tab-port) {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.sub__title {
  width: 100%;
  height: 7rem;
  font-size: 2rem;
  text-align: left;
  display: flex;
  align-items: center;
  background-color: #c5cae0;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.sub__title2 {
  margin-top: 2rem;
}

.separator {
  margin: 7rem 0;
  height: 1px;
  width: 100%;
  background-color: black;
}

.separator__colon--1 {
  grid-row: 2/3;
  grid-column: 3/4;
  height: 100%;
  width: 1px;
  background-color: black;
  margin-left: 1rem;

  @include respond(tab-port) {
    display: none;
  }
}

.paragraph__colon1 {
  font-size: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
}
